/* Описание Студия */

:root {
  --main-text-color: #212121;
  --acent-color: #757575;
  --primary-white-color: #ffffff;
  --button-color: #2196f3;
  --background-color: #2f303a;
  --background-button: #f5f4fa;
  --background: #188ce8;
  --color-logo: #000000;

  --icons-color: #afb1b8;
  --icons-foot: rgba(255, 255, 255, 0.1);

  --padding-section: 94px;
  --basic-margin: 30px;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  position: relative;
  font-family: Roboto, sans-serif;
  font-style: 400;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
  color: var(--main-text-color);
  justify-content: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

/* Logo */

.logo {
  font-family: Raleway, sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--button-color);
  display: flex;
  align-items: center;
}

.logo-studio {
  color: var(--color-logo);
}

/* Header */

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 93px;
}

.site-nav .link {
  display: block;
  position: relative;
  color: var(--main-text-color);

  transition: color var(--animation);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--button-color);
}

.site-nav .link.current {
  color: var(--button-color);
}

.site-nav .link.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--button-color);
  border-radius: 2px;
}

.nav-item {
  margin-right: 50px;
}

.nav-item > .link {
  display: block;
  padding: 32px 0;
}

.nav-item:last-child {
  margin-right: 0;
}

.adress-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: auto;
  display: flex;
}

.adress-nav-list {
  margin-left: 50px;
}

.adress-nav-list:first-child {
  margin-left: 0;
}

.adress-nav .link {
  display: flex;
  align-items: center;
  color: var(--acent-color);

  transition: color var(--animation);
}

.adress-nav .link:hover,
.adress-nav .link:focus {
  color: var(--button-color);
}

.nav-icons {
  margin-right: 10px;
  fill: currentColor;
}

/* Hero */

.hero {
  background-color: var(--background-color);
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("..//images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: var(--basic-margin);
}

.hero-button {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  border: 0;
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--button-color);
  display: block;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;

  transition: color var(--animation), background-color var(--animation);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--primary-white-color);
  background-color: var(--background);
}

/* Секции и абзацы*/
.section {
  padding: var(--padding-section) 0;
}

.section-title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/* Особенности */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.futuries {
  display: flex;
}

.futuries.section {
  padding-bottom: 0;
}

.futuries > .item {
  flex-basis: calc(100% / 4);
  margin-left: var(--basic-margin);
}

.futuries-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-button);
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.item:first-child {
  margin-left: 0;
}

.futuries-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.futuries-title-p {
  font-size: 14px;
  line-height: 1.71;
  color: var(--acent-color);
}

/* Чем мы занимаемся*/

.study {
  display: flex;
  flex-wrap: wrap;
}

.study-item {
  margin-right: var(--basic-margin);
}

.study-item:last-child {
  margin-right: 0;
}

.section.study {
  padding-top: 0;
}

.thumb {
  position: relative;
}

.study-title {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding: 27px 0px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

/* Team section */

.team {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 4 - 90px);
}

.section.team {
  background-color: var(--background-button);

  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.team-list {
  text-align: center;
  width: 270px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-left: var(--basic-margin);
}
.team-list:first-child {
  margin-left: 0;
}
.team-disc {
  padding: var(--basic-margin) 0;
}

.team-list .team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  justify-content: center;
  margin-bottom: 10px;
}

.team-descrip {
  font-size: 16px;
  line-height: 1.14;
  color: var(--acent-color);
  justify-content: center;
}

.team-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  cursor: pointer;
  margin-top: 16px;
}

.btn-icon:not(:last-child) {
  margin-right: 10px;
}

.button-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 0;
  color: var(--icons-color);

  transition: color var(--animation), background-color var(--animation);
}

.button-social:hover,
.button-social:focus {
  color: var(--primary-white-color);
  background-color: var(--button-color);
}

.soc-icons {
  fill: currentColor;
}

/* Section clients */

.clients {
  display: flex;
}

.clients-list {
  width: 170px;
  height: 92px;
}

.clients-list:not(:last-child) {
  margin-right: 30px;
}

.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  color: var(--icons-color);

  transition: color var(--animation), border var(--animation);
}

.clients-item:hover,
.clients-item:focus {
  color: var(--button-color);
  border: 1px solid var(--button-color);
}

/* Footer */

.footer {
  background-color: var(--background-color);
  padding: 60px 0;
}

.footer-adress {
  line-height: 1.71;
  font-style: normal;
  color: var(--primary-white-color);
  background-color: var(--background-color);
  margin-top: 20px;
  align-items: baseline;
}

.footer-info {
  margin-top: 9px;
}

.footer-adress-item:last-child {
  margin-top: 9px;
}

.footer-adress .link {
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--animation);
}

.footer .logo-studio {
  color: var(--primary-white-color);
}

.link:hover,
.link:focus {
  color: var(--button-color);
}

.footer-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.foot-list {
  margin-left: 70px;
}

.foot-icons {
  display: flex;
  list-style: none;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ftr-icon:not(:last-child) {
  margin-right: 10px;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 0;
  color: var(--primary-white-color);
  background-color: var(--icons-foot);

  transition: color var(--animation), background-color var(--animation);
}

.footer-social:hover,
.footer-social:focus {
  color: var(--primary-white-color);
  background-color: var(--button-color);
}

/* Оформление рассылки */

.mail-podpis {
  display: flex;
  margin-top: 20px;

  background-color: transparent;
}

.input-podpis {
  width: 350px;
  padding: 15px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  border-radius: 4px;
  background-color: transparent;
}
.modal-svg {
  fill: currentColor;
}

.podpis {
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-left: 12px;
  background-color: var(--button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding-left: 29px;
}

.email-icons {
  margin: 13px 28px 13px 10px;
  fill: currentColor;
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity var(--animation), visibility var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  padding: 40px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 33px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: color var(--animation);
}

.close:focus-within,
.close:hover {
  color: var(--button-color);
}

/* Оформление модального окна (форма) */

.form-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  color: #212121;
}

.form-label {
  display: block;
}

.form-field {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.form-input {
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  width: 100%;
  padding: 12px 0px 12px 42px;
  outline: transparent;

  transition: border var(--animation);
}

.form-input:focus-within {
  border: 1px solid #2196f3;
}

.form-input:focus-within + .form-icons {
  color: var(--button-color);
}

.form-icons {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: currentColor;

  /* transform: translateY(-50%); */
}
textarea {
  width: 100%;
  height: 120px;
  resize: none;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  padding: 12px 16px;
  outline: transparent;

  transition: border var(--animation);
}

textarea:focus-within {
  border: 1px solid #2196f3;
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-field.check {
  padding: 12px 0px 12px 36px;
}

.form-field.check .form-icons {
  border-radius: 2px;
  border: 1px solid black;
}

.form-icons.check {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: currentColor;

  transform: translateY(-50%);
}

.checkbox:checked + .form-icons {
  background-color: #2196f3;
  border: transparent;
}

.button-sub {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  color: var(--primary-white-color);

  transition: color var(--animation), background-color var(--animation);
}
/* Описание для Портфолио */

/* Section project */

.project {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn:not(:last-child) {
  margin-right: 8px;
}

.button {
  font-family: Roboto;
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--background-button);
  border-radius: 4px;
  border: var(--background-button);
  padding: 6px 22px;
  cursor: pointer;
}

.project .button {
  transition: color var(--animation), background-color var(--animation),
    box-shadow var(--animation);
}
.project .button:active {
  color: var(--primary-white-color);
  background-color: var(--button-color);
}

.project .button:hover,
.project .button:focus {
  color: var(--primary-white-color);
  background-color: var(--button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-link {
  display: block;
  color: var(--main-text-color);
  text-decoration: none;

  transition: box-shadow var(--animation);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.section-project {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--basic-margin));
  margin-top: calc(-1 * var(--basic-margin));
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card-info {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-descrip {
  font-size: 16px;
  line-height: 1.87;
  color: var(--acent-color);
}

.project-item {
  flex-basis: calc(100% / 3 - var(--basic-margin));
  margin-left: var(--basic-margin);
  margin-top: var(--basic-margin);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--button-color);

  transform: translateY(0);
  transition: transform var(--animation);
}

.card:hover .project-overlay {
  transform: translateY(-100%);
}

.overlay-info {
  color: var(--primary-white-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
}
