body {
  position: relative;
  font-family: Roboto, sans-serif;
  font-style: 400;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
  color: var(--main-text-color);
  justify-content: center;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--button-color);
  }
}
