.clients {
  display: flex;
}

.clients-list {
  width: 170px;
  height: 92px;
}

.clients-list:not(:last-child) {
  margin-right: 30px;
}

.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  color: var(--icons-color);

  transition: color var(--animation), border var(--animation);
}

.clients-item:hover,
.clients-item:focus {
  color: var(--button-color);
  border: 1px solid var(--button-color);
}
