.footer {
  background-color: var(--background-color);
  padding: 60px 0;
}

.footer-adress {
  line-height: 1.71;
  font-style: normal;
  color: var(--primary-white-color);
  background-color: var(--background-color);
  margin-top: 20px;
  align-items: baseline;
}

.footer-info {
  margin-top: 9px;
}

.footer-adress-item:last-child {
  margin-top: 9px;
}

.footer-adress .link {
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--animation);
}

.footer .logo-studio {
  color: var(--primary-white-color);
}

.link:hover,
.link:focus {
  color: var(--button-color);
}

.footer-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.foot-list {
  margin-left: 70px;
}

.foot-icons {
  display: flex;
  list-style: none;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ftr-icon:not(:last-child) {
  margin-right: 10px;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 0;
  color: var(--primary-white-color);
  background-color: var(--icons-foot);

  transition: color var(--animation), background-color var(--animation);
}

.footer-social:hover,
.footer-social:focus {
  color: var(--primary-white-color);
  background-color: var(--button-color);
}
